html, body {
    padding: 0;
    margin: 0;

    height: 100%;

    background-color: black;
    color: #fafafb;

    font-family: "Palatino Linotype";
    text-align: center;
    font-size: 38px;
    font-weight: normal;
}


h1 {
    font-weight: normal;
}


section {
    height: 700px;
    background-position: center;
    background-size: cover;
    background-image: url('../assets/silent_movie.jpg');

    display: flex;
    justify-content: center;
    align-items: center;
}

.padded-container {
    margin: 0 90px;
}

code {
    text-align: left;
    font-size: 18px;
    padding: 12px;
}


pre {
    padding: 20px;
}

a {
    text-decoration: none;
    transform: translate(-111px) rotate(0.25turn) scale(2);
    display: block;
    color: #fafafb
}
