html, head, body {
    padding: 0;
    margin: 0;
    height: 100%;
}


body {
    font-family: calibri, helvetica;
}


h1 {
    text-align: center;
}


.slide {
    font-size: 38px;
    font-weight: normal;
}


section {
    padding: 20px 0px;
}


code {
    font-size: 21px;
}


pre {
    padding: 20px;
}
